body {
    font-family: 'Roboto', sans-serif;
    background: url("fundo-index.png") no-repeat center center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    position: relative;
    overflow-x: hidden;

    display: flex;               
    flex-direction: column; 
}

/* camada escura */
body::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.5); /* preto com 50% opacidade */
    z-index: 0;
}


/*--NAV--*/
/* garante que o conteúdo fique por cima */
nav, .conteudo {
    position: relative;
    z-index: 1;
}

nav {
    background-color: #3e1711;
    display: flex;
    align-items: center;
    justify-content: space-between; /* joga logo para esquerda e links para direita */
    padding: 0 50px; /* controla a distância das bordas */
}

nav img {
    height: 75px;
    margin: 25px 0;
}

nav ul {
    display: flex;
    gap: 5vw; /* espaço entre os links */
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #f6f4f0;
    font-weight: 500;
    transition: 0.5s;
    display: inline-block;
}

nav ul a:hover {
    transform: scale(1.3);
}

footer{
    background-color: #3e1711;
    width: 100%;
    bottom: 0;
    position: 0;
    color: #f6f4f0;
    padding: 10px;
}

h1{
    text-align: center;
    color: #f6f4f0;
    font-size: 75px;
}

/* index */
.conteudo {
    flex: 1;                          
    display: flex;
    flex-direction: column;   /* empilha verticalmente */
    align-items: center;      /* centraliza horizontalmente */
    justify-content: center;  /* centraliza verticalmente */
    gap: 30px;                /* espaço entre texto e botão */
    min-height: 90vh;
}

.conteudo h1 {
    margin: 0;
}

.conteudo a {
    text-align: center;
    text-decoration: none;
    padding: 20px 40px;
    background-color: #f6f4f0;
    color: #3e1711;
    border-radius: 50px;
    font-weight: bold;
    transition: 0.5s;
}

.conteudo a:hover{
    transform: scale(1.2);
}
.conteudo span{
    color: #d4af37;
}

footer{
    text-align: center;
    color: rgb(255, 255, 255);
}